<div class="navbar-bottom shadow-lg">
    <img src="app/assets/images/icons/favicon-96x96.png" alt="logo">
</div>
<div class="container">
    <p>Hi <%= @user.email %>,</p>

    <p>A user from Justice has shared a report with you!</p>

    <p>To check it, please access this link: <%= link_to "Report", report_url(@user.incidents), only_path: true%></p>
</div>
<footer>
    <p>© 2021 Justice</p>
</footer>
