// Specific CSS for your home-page
.welcome {
  background-image: asset-url('welcome.jpg');
  height: 100vh;
  background-size: cover;
  h1 {
    color: white;
    padding-top: 200px;
    padding-left: 32px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  p {
    color: white;
    padding: 32px 32px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  #welcome-btn {
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }
}
