@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .login{
            line-height: 45px;
        }
        .login-title{
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    
    }