

.pdf-container {

  border: 2px solid black;
  // width: 595px;
  // height: 842px;
  max-width: 80%;
  max-height: 100%;
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  // align: center;


  h1 {
    text-align: center
  }
}

.pdf-date {
  text-align: right;
}

.pdf-uppertext p {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.pdf-info {
  width: 200px;
  border-right: 2px solid black;
  display: table-cell !important;
  p, small {
    padding: 15px 5px;
  }
}

.pdf-info-div {
  // display: -webkit-box; /* wkhtmltopdf uses this one */
  // display: -webkit-flex;
  border-bottom: 2px solid black;
  display: table !important;
  width: 100% !important;
  p, small {
    padding: 15px 5px;
  }
}

.pdf-desc-div {
  // display: -webkit-box; /* wkhtmltopdf uses this one */
  // display: -webkit-flex;
  // height: 300px;
  // border-bottom: 2px solid black;
  display: table !important;
  width: 100% !important;

  p, small {
    padding: 15px 5px;
  }
}


.page {
    width: 210mm;
    height: 297mm;
}

// .pdf-flex-box{

// }
// .pdf-cell{

// }
.pdf-sm-4{
    width: 30% !important;
}

.pdf-sm-8{
    width: 70% !important;
}
