.incident_show {
  background-color: white;
  padding: 14px 24px;
  width: 95%;
  border: 2px solid #F8F9FA;
  border-radius: 5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  .title {
    color: $purple;
    font-weight: bolder;
  }
  .fa-user-check {
    color: #788B9D;
    font-size: 24px;
  }
}
#show-bottom {
  margin-bottom: 4em;
}

.show-top {
  margin-right: 30px;
}

.share-btn {
  margin-right: 20px;
  color: $purple;
  font-size: 24px;
  font-weight: thin;
  position: absolute;
  right: 1%;
  // top: 12%;
}

.report-btn {
  margin-right: 20px;
  color: $purple;
  font-size: 26px;
  font-weight: thin;
  position: absolute;
  right: 2.6%;
  top: 16%;
}
