<%= render 'shared/index_banner', text: "Add a new incident" %>
<div class="container mt-2 product-form">
  <div style="align-self: center">
    <%= render 'form', incident: @incident %>
  </div>
</div>
