<%= render 'shared/banner', text: "Add a new incident" %>
<div class="container mt-2 my-2 product-form">
  <div class="mt-3" style="align-self: center">
    <%= render 'form', incident: @incident %>
  </div>
</div>
