<% if notice %>
  <div class="alert alert-colors alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if show_page_share %>
  <div class="show-page-btn alert-warning alert-dismissible fade show m-1" role="alert">
    <%= show_page_share %>
  </div>
<% end %>

<% if show_page_report %>
  <div class="show-page-report-btn alert-warning alert-dismissible fade show m-1" role="alert">
    <%= show_page_report %>
  </div>
<% end %>


<%# if match_alert %>
<!--   <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
     <%# render 'incidents/match_form', match: match_alert, id: 'show-bottom' %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

<%# end %>

