<div class="banner sticky-top d-flex">
  <h4 id="title" style="margin-left: 4%"><%= text.truncate(21) %></h4>
  <%= link_to new_incident_path, "data-multiselect-target": "share", "data-action": "click->multiselect#share", "type": "button" do %>
    <i id="share" class="fas fa-share-alt" data-multiselect-target="sharebutton"></i>
  <% end %>
</div>
