<div class="navbar-bottom shadow-lg">

  <%= link_to my_incidents_path, class: "nav-link" do %>
    <i
    <% if content_for(:current_page) == 'my_incidents' %>
      class="far fa-file-alt mx-3 active animate__animated animate__pulse"
    <% else %>
      class="far fa-file-alt mx-3"
    <% end %>
    aria-current="page"></i>
  <% end %>


  <a href="/chatrooms" class="nav-link mx-3 ">
    <i
      <% if content_for(:current_page) == 'chatrooms' %>
        class="far fa-comment-alt chat-notification mx-3 active animate__animated animate__pulse"
      <% else %>
        class="far fa-comment-alt chat-notification mx-3"
      <% end %>
      aria-current="page">
      <% if Notification.where(recipient_id: current_user).count >= 1 %>
        <span class="notification" data-controller="counter" data-counter-target="count"><%= Notification.where(recipient_id: current_user).count%></span>
      <% end %>
    </i>
  </a>

  <%= link_to log_out_path, class: "nav-link" do %>
    <i
    <% if content_for(:current_page) == 'log_out' %>
        class="far fa-user-circle mx-3 active animate__animated animate__pulse"
      <% else %>
        class="far fa-user-circle mx-3"
      <% end %>
      aria-current="page"></i></a>
  <% end %>
</div>
