<div class="banner sticky-top d-flex">
  <%= link_to url_for(:back), id: "back" do %>
    <i class="far fa-arrow-alt-circle-left"></i>
  <% end %>
  <h4 style="margin-left: 4%" id="title"><%= text.truncate(21) %></h4>
</div>
