<div class="banner sticky-top d-flex">
  <%= link_to url_for(:back), id: "back" do %>
    <i class="far fa-arrow-alt-circle-left"></i>
  <% end %>
  <h4 id="title" style="margin-left: 4%"><%= text.truncate(27) %></h4>
  <%= link_to edit_incident_path,id: "edit" do %>
    <i class="far fa-edit"></i>
  <% end %>
<!--     <%#= link_to incident_path(@incident),id: "delete",method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash"></i>
    <%# end %> -->
</div>
