<div class="banner sticky-top d-flex justify-content-between">
  <%= link_to url_for(:back), id: "back" do %>
    <i class="fas fa-arrow-alt-circle-left"></i>
  <% end %>
  <h4 id="title"><%= text.truncate(20) %></h4>
    <%= link_to edit_incident_path,id: "edit" do %>
      <i class="fas fa-pen"></i>
    <% end %>
</div>
