<div class="banner">Documentation</div>
<div class="container">
  <p class="tag" style="">workplace
    <%= link_to root_path do %>
      <a href=""><i class="fas fa-plus"></i></a>
      <a href="">| <i class="fas fa-times"></i></a>
    <% end %>
  </p>
</div>
