<div class="welcome">
  <h1 class="">Don't be silent. Stop the harassment.</h1>
  <p class="mt-3">Organize your evidence of abuse and harassment, then share it securely to a trusted contact.</p>
  <% if user_signed_in? %>
    <div id="welcome-btn">
      <button class="button-small box-shadow mr-4 w-25">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </button>
      <button class="button-small box-shadow w-25">
        <%= link_to "Home", my_incidents_path %>
      </button>
    </div>
  <% else %>
    <div id="welcome-btn">
      <button class="button-small box-shadow mr-4 w-25">
        <%= link_to "Sign up", new_user_session_path %>
      </button>
      <button class="button-small box-shadow w-25">
        <%= link_to "Log in", user_session_path %>
      </button>
    </div>
  <% end %>
</div>
