.alert {
  position: fixed;
  bottom: 70px;
  right: 16px;
  z-index: 1000;
  border-radius: 5px;
}

.alert-colors {
  background-color: rgba(120, 121, 241, 0.8);
  color: white;
  backdrop-filter: blur(2px);
}
