.alert {
  position: fixed;
  bottom: 70px;
  right: 16px;
  z-index: 1000;
  border-radius: 5px;
}

.alert-colors {
  background-color: rgba(120, 121, 241, 0.8);
  color: white;
  backdrop-filter: blur(2px);
}

.show-page-btn {
  background-color: $purple;
  color: white;
  padding: 5px 12px;
  position: absolute;
  top: 80px;
  right: 60px;
  z-index: 1000;
  border-radius: 5px;
  animation: fading_alert 4s 1;
  opacity: 0;
}

.show-page-report-btn {
  background-color: $purple;
  color: white;
  padding: 5px 12px;
  position: absolute;
  top: 122px;
  right: 60px;
  z-index: 1000;
  border-radius: 5px;
  animation: fading_alert 4s 1;
  opacity: 0;
}

@keyframes fading_alert {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
