.banner {
  transition: background-color 200ms linear;
  background-color: $purple;
  height: auto;
  color: white;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-weight: border;
  padding: 18px 10px 4px 10px;
  position: relative;
  h4 {
    font-size: 20px;
  }

  #back {
    margin-top: 10px;
    margin-left: 8px;
    color: white;
    .far {
      font-size: 25px;
    }
  }
  #edit {
    margin-top: 10px;
    color: white;
    position: absolute;
    right: 5%;
    // margin-left: 60px;
    .fas {
      font-size: 20px;
    }
  }
  #delete {
    margin-top: 10px;
    margin-right: 8px;
    color: white;
    .fas {
      font-size: 20px;
    }
  }
  #title {
    margin-top: 10px;
    text-align: center;
  }
  #share {
    margin-top: 10px;
    margin-right: 8px;
    color: white;
    font-size: 20px;
    font-weight: thin;
    position: absolute;
    right: 5%;
  }
}



