.banner {
  transition: background-color 200ms linear;
  background-color: $purple;
  height: auto;
  color: white;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: border;
  padding: 14px;

  #back {
    margin-top: 6px;
    margin-left: 8px;
    color: white;
  }
  #edit {
    margin-top: 6px;
    margin-right: 8px;
    color: white;
  }
  #title {
    margin-top: 10px;
    text-align: center;
  }
}



