.button-add {
  border-radius: 50%;
  border: solid;
  border-width: 3px;
  height: 60px;
  width: 60px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $purple;
  padding: 10px;
  position: fixed;
  right: 20px;
  bottom: 10%;
  backdrop-filter: blur(2px);
}

.button-large {
  display: inline-block;
  color: white;
  background-color: $purple;
  border-radius: 5px;
  padding: 12px 80px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  a {
    text-decoration: none;
    color: white;
  }
}

.button-small {
  display: inline-block;
  color: white;
  height: 48px;
  background-color: $purple;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  a {
    text-decoration: none;
    color: white;
  }
}

a:hover {
  text-decoration: none;
  color: white;
}

.button-small-grey {
  display: inline-block;
  color: white;
  height: 48px;
  background-color: #788B9D;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  a {
    text-decoration: none;
    color: white;
  }
}

.button-small-wide {
  display: inline-block;
  color: white;
  height: 48px;
  background-color: $purple;
  border-radius: 5px;
  text-align: center;
  padding: 10px 25px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  a {
    text-decoration: none;
    color: white;
  }
}

.button-small-white {
  display: inline-block;
  color: $purple;
  height: 48px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  a {
    text-decoration: none;
    color: $purple;
  }
}

// .button-white {
//   display: inline-block;
//   color: white;
//   background-color: #788b9d;
//   border-radius: 5px;
//   height: 48px;
//   padding: 10px;
//   text-align: center;
//   border: none;
//   font-size: larger;
//   text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
//   // box-shadow: 0 3px 10px $purple;
//   width: 85%;
//   a {
//     text-decoration: none;
//     color: $purple;
//   }
//   :focus {
//     text-decoration: none;
//   }
// }

.box-shadow {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.box-shadow-inset {
  box-shadow: inset 2px 2px 20px #5759f2;
  // margin-top: 10px;
}

.chat-button{
  border-radius: 5rem;
  background-color: $purple;
  height: 35px;
  width: 33px;
  border: none;
  box-shadow: 1px 1px $amethyst;
  i{
    color: white;
    font-weight: bold;
    margin-left: -6px;
    margin-top: 5px;
  }
}

#bottom {
  margin-top: 450px;
}

.disabled-button {
  background-color: rgb(147, 149, 234)!important;
  box-shadow: none!important;
}

.animate__big-pulse {
  animation-name: big-pulse;
  animation-timing-function: ease-in-out;
}

.animate__animated.animate__big-pulse {
  --animate-delay: 0s;
}

@keyframes big-pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.button-sign-up {
  display: inline-block;
  color: white;
  height: 48px;
  background-color: $purple;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  a, input{
    text-decoration: none;
    color: white;
  }
}

#log-in {
  a {
    color: $purple;
    margin-left: 2px;
    margin-top: 16px;
  }
}

