.button-add {
  // border-radius: 50%;
  // height: 30px;
  // width: 30px;
  position: fixed;
  right: 30px;
  bottom: 150px;
}

.button-large {
  display: inline-block;
  color: white;
  background-color: $purple;
  border-radius: 5px;
  padding: 12px 80px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  a {
    text-decoration: none;
    color: white;
  }
}

.button-small {
  display: inline-block;
  color: white;
  height: 48px;
  background-color: $purple;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  a {
    text-decoration: none;
    color: white;
  }
}

.button-white {
  display: inline-block;
  color: $purple;
  background-color: white;
  border-radius: 5px;
  height: 48px;
  padding: 10px;
  text-align: center;
  border: none;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(175, 171, 171, 0.43);
  box-shadow: 0 3px 10px $purple;
  width: 85%;
  a {
    text-decoration: none;
    color: $purple;
  }
}
