// iPhone XR view
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .chat-container{
            margin-bottom: 5rem;
            height: 67vh;
            overflow: scroll;
        }
        
        
        .chat-bubble{
            line-height: 2rem;
            margin-top: 2rem;
        }
        
        .chat-title{
            display: inline-flex;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            gap: 2rem;
            i{
                margin-top: 1rem;
            }
        
        }
        
        .message-container{
            border-radius: 1rem;
            padding: 3px;
            width: 14rem; 
            box-shadow: 1px 1px $light-white;
            display: flex;
            .author{
                font-weight: bold;
            }
            p{
                color: white;
                font-weight: bold;
            }
        }
        
        #message_content{
            width: 18rem;
        }
        
        #new_message{
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
        }
        
        .chat-notification {
          position: relative;
        }
        
        #right-chat{
            position: relative;
            left: 7rem;
            background-color: $baby-blue;
        }
        
        #left-chat{
            background-color: $msg-grey;
        }
    }

// Desktop view
@media screen and (min-width: 1200px){
    .chat-container{
        margin-bottom: 5rem;
        height: 68vh;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    
    .chat-bubble{
        line-height: 2rem;
        margin-top: 2rem;
    }
    
    .chat-title{
        display: inline-flex;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        gap: 2rem;
        i{
            margin-top: 1rem;
        }
    
    }
    
    .message-container{
        margin-top: 2rem;
        border-radius: 1rem;
        padding: 1rem;
        width: 22rem; 
        box-shadow: 1px 1px $light-white;
        .author{
            font-weight: bold;
        }
        p{
            color: white;
            font-weight: bold;
        }
    }
    
    #message_content{
        width: 67rem;
    }
    
    #new_message{
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
    }
    
    .chat-notification {
      position: relative;
    }
    
    #right-chat{
        position: relative;
        left: 46rem;
        background-color: $baby-blue;
    }
    
    #left-chat{
        background-color: $msg-grey;
    }
}