.navbar-bottom {
  background-color: rgba(248, 249, 250, 0.8);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(2px)
}

/* Style the links inside the navigation bar */
.navbar-bottom a > i {
  // display: block;
  color: #788b9d;
  text-align: center;
  padding: 10px 16px 12px 16px;
  font-size: 24px;
}

/* Add a color to the active/current link */
.navbar-bottom .active {
  color: #7879f1!important;
}
