.tag {
  background-color: $purple;
  color: white;
  border-radius: 32px;
  padding: 4px 8px;
  border: solid white;
  // width: 150px;
  a {
    color: white;
  }
}


#incident_tag_list {
  background-color: rgba(175, 171, 171, 0.43);
  border-radius: 20px;
  padding: 4px 8px;
  color: white;
  display: inline-block;
  margin: 2px;
}

#tags_text {
  padding: 10px 0;
}
