// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: rgb(250,250,250);
  color: rgb(40,40,40);
}

body, h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;

  :hover {
    text-decoration: none;
    color: pink;
  }
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 64px 1fr 64px;
  height: 100vh;
}
