<!DOCTYPE html>
<html>
<head>
  <title>Justice | Police Report</title>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/pages/report.scss">
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
<!--   <%# stylesheet_link_tag wicked_pdf_asset_base64("report") %>
 -->  <!-- <link rel="stylesheet" type="text/css" href="assets/stylesheets/pages/report.scss"> -->
</head>
<body>
  <div class="page">
  <%= yield %>
  </div>
</body>
</html>
